Source: libfvde
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, pkg-config, zlib1g-dev, libssl-dev, python-dev, python3-dev, libfuse-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/libyal/libfvde

Package: libfvde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: libfvde-dbg
Description: Library to access the FileVault Drive Encryption (FVDE) format
 libfvde is a library to access the FileVault Drive Encryption (FVDE) format.

Package: libfvde-dbg
Architecture: any
Section: debug
Depends: libfvde (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvde
 Debugging symbols for libfvde.

Package: libfvde-dev
Section: libdevel
Architecture: any
Depends: libfvde (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfvde
 Header files and libraries for developing applications for libfvde.

Package: libfvde-tools
Section: utils
Architecture: any
Depends: libfvde (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Several tools for reading FileVault Drive Encryption volumes
 Several tools for reading FileVault Drive Encryption volumes.

Package: libfvde-tools-dbg
Section: debug
Architecture: any
Depends: libfvde-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvde-tools
 Debugging symbols for libfvde-tools.

Package: libfvde-python
Section: python
Architecture: any
Depends: libfvde (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libfvde-python-dbg
Description: Python 2 bindings for libfvde
 Python 2 bindings for libfvde.

Package: libfvde-python-dbg
Section: debug
Architecture: any
Depends: libfvde-python (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvde-python
 Debugging symbols for libfvde-python.

Package: libfvde-python3
Section: python
Architecture: any
Depends: libfvde (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Suggests: libfvde-python3-dbg
Description: Python 3 bindings for libfvde
 Python 3 bindings for libfvde.

Package: libfvde-python3-dbg
Section: debug
Architecture: any
Depends: libfvde-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvde-python3
 Debugging symbols for libfvde-python3.

