Source: libfvde
Priority: extra
Maintainer: Joachim Metz <joachim.metz@gmail.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, dh-python, pkg-config, zlib1g-dev, libssl-dev, python3-dev, python3-setuptools, libfuse-dev
Standards-Version: 4.1.4
Section: libs
Homepage: https://github.com/libyal/libfvde
Vcs-Git: https://github.com/libyal/libfvde.git

Package: libfvde
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfvde1
Replaces: libfvde1
Suggests: libfvde-dbg
Description: Library to access the FileVault Drive Encryption (FVDE) format
 libfvde is a library to access the FileVault Drive Encryption (FVDE) format.

Package: libfvde-dbg
Architecture: any
Section: debug
Depends: libfvde (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvde
 Debugging symbols for libfvde.

Package: libfvde-dev
Section: libdevel
Architecture: any
Depends: libfvde (= ${binary:Version}), ${misc:Depends}
Description: Header files and libraries for developing applications for libfvde
 Header files and libraries for developing applications for libfvde.

Package: libfvde-tools
Section: utils
Architecture: any
Depends: libfvde (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libfvde-utils
Replaces: libfvde-utils
Description: Several tools for reading FileVault Drive Encryption volumes
 Several tools for reading FileVault Drive Encryption volumes.

Package: libfvde-tools-dbg
Section: debug
Architecture: any
Depends: libfvde-tools (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvde-tools
 Debugging symbols for libfvde-tools.

Package: libfvde-python3
Section: python
Architecture: any
Depends: libfvde (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: python3-libfvde
Replaces: python3-libfvde
Suggests: libfvde-python3-dbg
Description: Python 3 bindings for libfvde
 Python 3 bindings for libfvde.

Package: libfvde-python3-dbg
Section: debug
Architecture: any
Depends: libfvde-python3 (= ${binary:Version}), ${misc:Depends}
Description: Debugging symbols for libfvde-python3
 Debugging symbols for libfvde-python3.

